body{
    background: #222226;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: MyFont;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: MyFont;
    src: url(../font/SFUIDisplay-Light.ttf);
}
/*HEADER-MENU*/
header{
    width: 100%;
    background: linear-gradient(to right, #212121, black, #212121);
    text-align: center;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: sticky;
    top: 0;
}
.logo{
    background-image: url(../img/logo.png);
    display: block;
    width: 100px;
    height: 100px;
}
.logo:hover{
    background-image: url(../img/logo-hover.png);
}
/*CONTENT*/
.main_content{
    padding: 10px;
    margin: auto;
    width: 90%;
    min-height: 100vh;
    background: #333336;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: ghostwhite;
}
.about-me{
    border-radius: 10px;
    display: grid;
    justify-items: center;
    text-align: center;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
      "pho tp tp"
      "pho lt rt"
      "pho lt rt";
}
.top{
    border-bottom: 1px solid ghostwhite;
    font-weight: bold;
    font-size: 20px;
    grid-area: tp;
}
.left{
    padding: 0 5px 0 0;
    border-right: 1px solid ghostwhite;
    grid-area: lt;
    font-size: 20px;
}
.right{
    padding: 0 5px 0 5px;
    grid-area: rt;
    font-size: 20px;
}
.photo{
    grid-area: pho;
}
.top, .left, .right, .photo{
    height: 100%;
    width: 100%;
}
img{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}
/*flex homework*/
.container-flex{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 0 0 0;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #444446;
    border-radius: 10px;
}
.flex-item{
    height: auto;
    width: auto;
}
.anim:hover{
    transform: scale(0.9);
}
/*FOOTER*/
footer{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #212121, black, #212121);
    color: white;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.footer-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}
.social-icons {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social-icons a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 26px;
    overflow: hidden;
    position: relative;
    color: silver;
    border: 2px solid silver;
    transition: all 0.2s linear 0s;
}
.social-icons a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: silver;
    border-radius: 50%;
}
.social-icons a i{
    position: relative;
    z-index: 1;
}
.social-icons a:hover {
    color: black;
}
.social-icons a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}
/*MEDIA: IPHONE X, IPAD, PC*/
@media screen and (max-width: 375px){
    .about-me{
        grid-template-areas:
      "pho"
      "tp"
      "lt "
      "rt";
    }
    .left{
        border-right: 0px solid ghostwhite;
        border-bottom: 1px solid ghostwhite;
    }
    .right{
        border-bottom: 1px solid ghostwhite;
    }
    .container-flex{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 376px) and (max-width: 768px){
    .about-me{
        grid-template-areas:
      "pho"
      "tp"
      "lt "
      "rt";
    }
    .left{
        border-right: 0px solid ghostwhite;
        border-bottom: 1px solid ghostwhite;
    }
    .right{
        border-bottom: 1px solid ghostwhite;
    }
    .container-flex{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 769px) and (max-width: 1360px){
    .about-me{
        grid-template-areas:
      "pho pho"
      "tp tp"
      "lt rt";
    }
}
