body{
    background: #edeef0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: MyFont;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: MyFont;
    src: url(../font/SFUIDisplay-Light.ttf)
}
/*HEADER & MENU*/
header{
    width: 100%;
    background: linear-gradient(to right, #212121, black, #212121);
    text-align: center;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    position: sticky;
    top: 0;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "ml mc mr";
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:5px;
}
.menu a {
    text-decoration: none;
    color: ghostwhite;
    padding:10px;
    border-radius:5px;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.menu a:hover {
    background:ghostwhite;
    color: #212121;
}
.menu li {
    float:left;
    margin-right:5px;
}
.menu-left{
    margin: auto;
    grid-area: ml;
}
.menu-center{
    margin: auto;
    grid-area: mc;
}
.menu-right{
    margin: auto;
    grid-area: mr;
}
.logo{
    background-image: url(../img/logo.png);
    display: block;
    width: 100px;
    height: 100px;
}
.logo:hover{
    background-image: url(../img/logo-hover.png);
}
/*CONTENT*/
.main_content{
    padding: 10px;
    margin: auto;
    width: 90%;
    min-height: 100vh;
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.about-me{
    border-radius: 10px;
    display: grid;
    justify-items: center;
    text-align: center;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
      "pho tp tp"
      "pho lt rt"
      "pho lt rt";
}
.top{
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    grid-area: tp;
}
.left{
    padding: 0 5px 0 0;
    border-right: 1px solid black;
    grid-area: lt;
    font-size: 20px;
}
.right{
    padding: 0 5px 0 5px;
    grid-area: rt;
    font-size: 20px;
}
.photo{
    grid-area: pho;
}
.top, .left, .right, .photo{
    height: 100%;
    width: 100%;
}
img{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}
/*AUTHORIZATION & REGISTRATION*/
.auth-reg{
    margin:auto;
    vertical-align:middle;
    text-align: center;
    font-size:25px;
}
.child-auth-reg{
    border-radius: 10px;
    color: ghostwhite;
    background: black;
    width:350px;
    border:3px solid darkgrey;
    margin:auto;
    font-family: MyFont;
}
.auth-reg a{
    text-decoration: none;
    color: dodgerblue;
}
.auth-reg a:hover{
    text-decoration: underline;
    color: deepskyblue;
}
.custom_input {
    font-size: 20px;
    color: ghostwhite;
    width: 70%;
    height: 25px;
    background-color: #222226;
    border: 1px solid gray;
    border-radius: 2px;
}
.custom_submit {
    width: 70%;
    height: 25px;
    background-color: #444446;
    border: 0;
    color: ghostwhite;
    font-size: 15px;
}
.custom_submit:hover {
    border: 2px solid ghostwhite;
    border-radius: 3px;
}
.custom_button{
     width: 45%;
     background: none;
     border: 0;
     cursor:pointer;
 }
.custom_button:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*flex homework*/
.container-flex{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 0 0 0;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #e5ebf1;
    border-radius: 10px;
}
.flex-item{
    height: auto;
    width: auto;
}
.anim:hover{
    transform: scale(0.9);
}
/*FOOTER*/
footer{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #212121, black, #212121);
    color: white;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.footer-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}
.social-icons {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social-icons a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 26px;
    overflow: hidden;
    position: relative;
    color: silver;
    border: 2px solid silver;
    transition: all 0.2s linear 0s;
}
.social-icons a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: silver;
    border-radius: 50%;
}
.social-icons a i{
    position: relative;
    z-index: 1;
}
.social-icons a:hover {
    color: black;
}
.social-icons a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}
/*MEDIA: IPHONE X, IPAD, PC*/
@media screen and (max-width: 375px){
    .about-me{
        grid-template-areas:
      "pho"
      "tp"
      "lt "
      "rt";
    }
    .left{
        border-right: 0px solid black;
        border-bottom: 1px solid black;
    }
    .right{
        border-bottom: 1px solid black;
    }
    .container-flex{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 376px) and (max-width: 768px){
    .about-me{
        grid-template-areas:
      "pho"
      "tp"
      "lt "
      "rt";
    }
    .left{
        border-right: 0px solid black;
        border-bottom: 1px solid black;
    }
    .right{
        border-bottom: 1px solid black;
    }
    .container-flex{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 769px) and (max-width: 1360px){
    .about-me{
        grid-template-areas:
      "pho pho"
      "tp tp"
      "lt rt";
    }
}
